@import '../../global-styles';

.sidebar-navigation {
  width: $sidebarWidth;
  background-color: palette(grey, light-50);                // color
  color: palette(grey, dark-600);                           // color
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .brand {
    padding: 2rem 1.5rem;
    flex-shrink: 1;
    a {
      color: palette(grey, dark-600);                       // color
      text-decoration: none;
    }
  }
  hr {
    margin: 0;
    border-top: 1px solid palette(grey,light-100);          // color
  }
  .primary-navigation {
    flex-grow: 1;
    list-style: none;
    margin: 0;
    padding: 0 .5rem;
    li {
      padding: .5rem 1rem;
      margin-bottom: .5rem;
      transition: all .2s ease;
      border-radius: 1rem;
      a {
        text-decoration: none;
        color: palette(grey,dark-600);                      // color
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        font-weight: bold;
        font-size: 1.4rem;
        span:not(.badge-container, .count) {
          flex-grow: 1;
        }
        i {
          flex-shrink: 1;
          font-size: 1.8rem;
          &.dropdown-arrow {
            transition: all .1s ease;
            font-size: 1.2rem;
            text-align: right;
            &.spin-icon-up {
              rotate: 180deg;
            }
          }
        }
        span.badge-container {
          flex-grow: 1;
          text-align: right;
          align-items: center;
          display: flex;
          flex-direction: row-reverse;
          .count {
            transition: all .2s ease;
            background-color: palette(grey,light-100);      // color
            font-size: 1rem;
            padding: .1rem .3rem;
            border-radius: .5rem;
          }
        }
      }
      &.nav-heading {
        text-transform: uppercase;
        font-size: 1rem;
        padding: 1.5rem 1.5rem 0 1rem;
        &:hover {
          background: none;
        }
      }
      &:hover {
        background-color: palette(grey,light-100);          // color
        a {
          color: palette(grey,dark-900);                    // color
          span.badge-container {
            .count {
              background-color: palette(grey,light-200);    // color
            }
          }
        }
        &.sub-navigation-trigger {
          a {
            i.dropdown-arrow {
              font-size: 1.6rem;
            }
          }
        }
      }

    }
    .sub-navigation-menu {
      overflow: hidden;
      max-height: 0;
      transition: all .2s ease;
      list-style: none;
      margin: 0;
      padding: 0;
      &.show {
        max-height: 900px;
      }
      li {
        &:first-child {
          margin-top: 1rem;
        }
        padding: .2rem 1rem .2rem 3.2rem;
        a {
          &:hover {
            color: palette(grey, light-50);
          }
        }
      }
    }
  }
  .sidebar-footer {
    position: relative;
    > a {
      background-color: palette(grey, light-50);            // color
      display: flex;
      flex-direction: row;
      padding: 2rem 1.5rem 2rem 1rem;
      color: palette(grey, dark-600);                       // color
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: bold;
      gap: 1rem;
      align-items: center;
      transition: all .2s ease;
      position: relative;
      z-index:2;
      span {
        flex-grow: 1;
        line-height: 1.4rem;
        .useremail {
          font-weight: normal;
          font-size: 1rem;
        }
      }
      i {
        flex-shrink: 1;
        font-size: 3.5rem;
        &.dropdown-ellipsis {
          transition: all .1s ease;
          font-size: 1.2rem;
          text-align: right;
          padding-right: .3rem;
        }
      }
      &:hover {
        background-color: palette(grey,light-100);          // color
        color: palette(grey,dark-900);                      // color
        i.dropdown-ellipsis {
          font-size: 1.6rem;
        }
      }
    }
    .sidebar-footer-menu {
      list-style: none;
      margin: 0;
      padding: 1rem 0;
      position: absolute;
      bottom:68px;
      left: 0;
      background-color: white;                              // color
      border-top: 1px solid palette(grey,light-100);        // color
      width: 100%;
      z-index:1;
      bottom: 48px;
      max-height: 0;
      overflow: hidden;
      transition: max-height .5s ease;
      transition: bottom .1s linear;
        &.show {
          bottom: 68px;
          max-height: 900px;
        }
        li {
          padding: 0 .5rem;
          display: flex;
          a {
            color: palette(grey, dark-600);                 // color
            display: flex;
            width: 100%;
            text-decoration: none;
            font-size: 1.4rem;
            font-weight: bold;
            padding: .75rem 1rem;
            &:hover {
              background-color: palette(grey, light-50);    // color
              color: palette(grey, dark-900);               // color
              border-radius: 1rem;
            }
          }
        }
    }
  }



  &.dark {
    background-color: palette(grey, dark-800);              // color
    color: palette(grey,light-200);                          // color
    .brand {
      a {
        color: palette(grey, light-200);                       // color
      }
    }
    hr {
      border-top: 1px solid palette(grey,dark-600);          // color
    }
    .primary-navigation {
      li:not(.nav-heading) {
        a {
          color: palette(grey, light-50);                      // color
          span.badge-container {
            .count {
              background-color: palette(grey);      // color
            }
          }
        }
        &:hover {
          background-color: palette(grey,dark-600);          // color
          a {
            color: palette(grey,light-50);                    // color
          }
        }
      }
      .sub-navigation-menu {
        li {
          a {
            &:hover {
              color: palette(grey, light-300);
            }
          }
        }
      }
    }
    .sidebar-footer {
      > a {
        background-color: palette(grey, dark-800);            // color
        color: palette(grey, light-300);                       // color
        &:hover {
          background-color: palette(grey, dark-700);          // color
          color: palette(grey,light-50);                      // color
        }
      }
      .sidebar-footer-menu {
        background-color: palette(grey, dark-700);            // color
        border-top: 1px solid palette(grey,dark-600);         // color
          li {
            a {
              color: palette(grey, light-300);                 // color
              &:hover {
                background-color: palette(grey, dark-600);    // color
                color: palette(grey, light-50);               // color
              }
            }
          }
      }
    }
  }
}