@import '../../global-styles';

.sidebar-navigation {
  width: $sidebarWidth;
  background-color: palette(grey, light-50);
  color: palette(grey, dark-600);
  
  
  &.dark {
    background-color: palette(grey, dark-800);
    color: white;
  }
}